.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.question {
  font-size: 20px;
  margin-bottom: 20px;
}

.options {
  list-style-type: none;
  padding: 0;
}

.option {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.result {
  font-size: 24px;
  margin-top: 20px;
}

.essay-input {
  width: calc(100% - 5px); /* Lebar input dikurangi dengan margin */
  margin-bottom: 10px;
  padding: 5px 10px;
}
